<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<section layout:fragment="content" class="contents d-flex justify-content-center align-content-center">
	
	<div class="w-50 reserveCreate-box p-4 d-flex flex-column">
		<!-- 페이지 설명 -->
		<h2 class="text-center mb-4">예약 페이지</h2>
		
		<!-- 제목 영역 -->
		<input type="text" id="inputTitle" class="form-control mb-1" placeholder="제목을 입력하세요">
		
		<!-- 내용 영역 -->
		<textarea id="inputContent" class="form-control mb-1" placeholder="본인의 증상 및 상태를 입력해 주세요" rows="4"></textarea>

		<!-- 날짜 영역 -->
		<div class="form-group d-flex flex-column w-100 mb-4">
			<label for="visitDate">원하는 방문 날짜를 입력하세요.</label>
			<input type="datetime-local" id="visitDate" name="meeting-time"
			th:value="${currentDate}"
			th:min="${minDate}"
			th:max="${maxDate}" />
		</div>
		
		<!-- 파일 선택 버튼 -->
		<div class="d-flex mb-4">
			<input type="file" id="file" accept=".jpg, .png, .gif">
		</div>
		
		<div class="d-flex w-100 justify-content-around">
			<a id="cancelReserveBtn" href="javascript:history.back()" class="btn btn-warning w-45 text-white">취소하기</a>
			<a id="confirmReserveBtn" href="#" class="btn btn-warning w-45 text-white">예약 하기</a>
		</div>
		
	</div>
	
</section>

<th:block layout:fragment="script">
    <script>
    </script>
</th:block>