<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<section layout:fragment="content" class="contents d-flex justify-content-center align-content-center">
	
	<div class="w-50 reserveDetail-box p-4 d-flex flex-column" th:each="reserves : ${reserveDict}">
		<!-- 페이지 설명 -->
		<h2 class="text-center mb-4">예약 상세 페이지</h2>
		
		<!-- 의사 번호 영역 -->
		<input type="hidden" id="doctorId" th:value="${reserves.doctorNum}">
		
		<!-- 제목 영역 -->
		<input type="text" id="inputTitle" class="form-control mb-1" placeholder="제목을 입력하세요" th:value="${reserves.title}">
		
		<!-- 내용 영역 -->
		<textarea id="inputContent" class="form-control mb-1" placeholder="본인의 증상 및 상태를 입력해 주세요" rows="4" th:text="${reserves.description}"></textarea>

		<!-- 날짜 영역 -->
		<div class="form-group d-flex flex-column w-100 mb-4">
			<label for="visitDate">원하는 방문 날짜를 입력하세요.</label>
			<input type="datetime-local" id="visitDate" name="visitDate"
			th:value="${currentDate}"
			th:min="${minDate}"
			th:max="${maxDate}" />
			<div id="visitDateCheck" class="small text-danger">금일은 예약이 불가능합니다.</div>
		</div>
				
		<!-- 이미지 영역 : 이미지가 있을 경우에만 -->
		<div class="my-3" th:if="${reserves.imagePath != null}">
			<img th:src="${reserves.imagePath}" alt="본문 이미지" width="300">
		</div>
		
		<!-- 파일 선택 버튼 -->
		<div class="d-flex mb-4">
			<input type="file" id="file" accept=".jpg, .png, .gif">
		</div>
		
		<div class="d-flex w-100 justify-content-around">
			<!-- 취소하기(뒤로가기 버튼) -->
			<a id="changeCancelBtn" href="javascript:history.back()" class="btn btn-warning w-45 text-white">취소하기</a>
			
			<!-- <a id="changeBtn" href="/patient/update" class="btn btn-warning w-45 text-white">수정하기</a> -->
			<button type="button" id="changeBtn" class="btn btn-warning w-45 text-white" th:data-reserves-id="${reserves.id}">수정하기</button>
			
			<!-- <a id="reserveDeleteBtn" href="#" class="btn btn-warning w-45 text-white">예약취소</a> -->
			<button type="button" id="reserveDeleteBtn" class="btn btn-warning w-45 text-white" th:data-reserves-id="${reserves.id}">예약취소</button>
			
			<!-- 결제 취소 버튼 -->
			<!-- reserves.id : 예약 목록 고유 번호 -->
			<!-- payments.id : 결제 내역 고유 번호 -->
			<button type="button" id="reservePayCancel" 
			class="btn btn-danger w-45 text-white" 
			th:data-merchant-uid="${reserves.id}">결제취소</button>
		</div>
		
	</div>
	
</section>

<th:block layout:fragment="script">
    <script>
    	
    	$(document).ready(function() {
    		
    		
    		// 결제취소(PostOne API) 버튼
    		$("#reservePayCancel").on("click", function(e) {
    			e.preventDefault();
    			
    			
    			// 버튼에서 merchant_uid 추출
    			let merchantUid = $(this).data("merchant-uid");
    			// 환불 사유 입력
    			let reason = prompt("환불 사유를 입력해 주세요.");
    			
    			if (!reason) {
    				alert("환불 사유가 입력되지 않아 취소를 중단합니다.");
    				return;
    			}
    			
    			
    			// AJAX 요청(결제취소)
    			$.ajax({
    				// request
    				type: "POST",
    				url: "/payment/cancel",
    				contentType: "application/json",
    				data: JSON.stringify({
    					merchant_uid: merchantUid, // 주문 번호
    					cancel_request_amount: 100, // 환불 금액 (수정 필요)
    					reason: reason, // 결제 취소 사유
    					// refund_holder: "홍길동",
    					// refund_bank: "88",
    					// refund_account: "123456789"
    				}),
    				dataType: "json", // 응답 데이터 형식(json, key-value, formData)
    				
    				// response
    				success: function(data) { // Response(응답값)
		    			// Dictionary 형태
		    			// Ajax의 응답은 String => JQuery의 함수가 JSON임을 알면
		    			// => Dictionary 형식으로 변경
		    			// "{"code" : 200, "result" : "결제를 취소합니다."}"
    					if (data.code == 200) {
    						alert("결제가 성공적으로 취소되었습니다.");
    						location.href = "/patient/reserve-list-view" // 예약 목록으로
    					} else {
    						alert("결제 취소에 실패했습니다. : " + data.message);
    					}
    				},
    				error: function(e) {
    					alert("결제 취소 요청 중 오류가 발생했습니다.");
    				}
    			}) // AJAX 요청(결제취소) 종료
    			
    			
    			
    		}); // 결제취소(PostOne API) 버튼 종료
    		
    		
    		
    		// `수정하기` 버튼
    		$("#changeBtn").on("click", function(e) {
    			e.preventDefault(); // 페이지 이동 차단
    			
    			// alert("수정하기");
    			
    			
    			// 수정하기 버튼의 id(reservers.id) 값 추출
    			let id = $(this).data("reserves-id");
    			// console.log(id);
    			// return;
    			
    			
    			// validation(Parameter)
    			/* doctorNum, title, description, visitDate, imagePath */
    			let doctorNum = $("#doctorId").val().trim();
    			let title = $("#inputTitle").val().trim();
    			let description = $("#inputContent").val().trim();
    			let visitDate = $("#visitDate").val().trim();
    			let fileName = $("#file").val().trim(); // 새로운 이미지를 고르지 않으면 기존 이미지 유지를 위해 수정하지 않으면 공백
    			
    			/* console.log(doctorNum);
    			console.log(title);
    			console.log(description);
    			console.log(visitDate);
    			console.log(fileName); */
    			
    			
    			// 공백 처리
    			if(!title) {
    				alert("제목을 입력해주세요.")
    				return; // subject일 경우 return flase, click일 경우 return
    			}
    			if(!description) {
    				alert("상태와 증상을 입력해주세요.")
    				return; // subject일 경우 return flase, click일 경우 return
    			}
    			// visitDate가 오늘 날짜면 경고
                
    			// 1. 오늘 날짜 추출
                let today = new Date().toISOString().slice(0, 10);  // "yyyy-mm-dd" 형식으로 변환
                
                // 2. visitDate에서 `날짜`만 추출
                let visitDateOnly = visitDate.split("T")[0];  // "yyyy-mm-dd" 형식으로 추출
                // console.log("visitDateOnly : ", visitDateOnly);
                // console.log("today : ", today);
                
                // 3. 날짜 비교 후 오늘 날짜일 경우 경고 문구 출력
                
                if(visitDateOnly == today) {
                	alert("내원 날짜를 선택해 주세요. \n금일은 예약이 불가합니다.");
                	return;
                }
    			
                // 새로 선택한 파일이 있으면 확장자 체크
                if(fileName) {
                	// alert(fileName);
                	// C:\fakepath\whooper-swans-8640045_1280.jpg
                	
                	// 파일 확장자 추출
                	let extension = fileName.split(".").pop().toLowerCase();
                	
                	// 파일 확장자가 "jpg", "png", "gif"가 아닐 경우 선택 파일 삭제
                	if ($.inArray(extension, ["jpg", "png", "gif"]) == -1) {
                        alert("이미지 파일만 업로드 할 수 있습니다.");
                        $("#file").val(""); // 선택 파일 삭제
                        return;
                    }
                }
                
                
                // 이미지 파일 때문에 form 태그를 JS에서 생성
                // 이미지는 form 태그 필수 => JS에서 구현 가능
                // form을 JS에서 생성 후 AJAX에서 구현 가능
    			// form 태그 3종 세트 : form 태그(method), name 속성(parameter), submit 타입(parameter 전송)
    			let formData = new FormData();
                
                // formData 삽입
                // id 번호
                formData.append("id", id);
                // 의사 번호(doctors.id)
                formData.append("doctorNum", doctorNum);
                // 예약 제목
                formData.append("title", title);
                // 예약 내용
                formData.append("description", description);
                // 방문 날짜
                formData.append("visitDate", visitDate);
                // 이미지 파일
                formData.append("file", $("#file")[0].files[0]); // 진짜 file 객체 삽입(다중 파일의 경우 배열 처리 후 진행)
                
                // 데이터 확인
    			formData.forEach((value, key) => {
    				console.log(`${key} : ${value}`);
    			});
    			
    			
    			// AJAX 요청
    			// formData 형식 사용
    			$.ajax({
    				// request
    				type:"PUT", // 용량이 큰 text, img 파일
    				url:"/patient/update", // 
    				data:formData, // data에는 json, key-value, formData
    				processData:false, // 파일 업로드 필수 설정(form)
    				contentType:false, // 파일 업로드 필수 설정(form)
    				enctype:"multipart/form-data", // 파일 업로드 필수 설정(form) - 이미지 인코딩 용
    				
    				// response
    				success:function(data) { // Dictionary 형태
						// Ajax의 응답은 String => JQuery의 함수가 JSON임을 알면
						// => Dictionary 형식으로 변경
						// "{"code" : 200, "result" : "예약 수정 성공"}"
						if(data.code == 200) {
							alert("예약이 수정되었습니다.");
							location.href="/patient/reserve-list-view"
						} else if(data.code == 403) {
							alert(data.result);
							location.href="/patient/sign-in-view"
						}
						else {
							alert(data.error_message);
						}
    				},
    				error:function(e) {
    					alert("예약 수정에 실패했습니다.");
    				}
    				
    			}) // AJAX 요청 종료
    			
    			
    		}); // `수정하기` 버튼 종료
    		
    		
    		// `예약취소`버튼
    		$("#reserveDeleteBtn").on("click", function(e) {
    			e.preventDefault();
    			
    			// alert("예약취소");
    			
    			// 버튼 id값 출력(reservers.id)
    			let id = $(this).data("reserves-id");
    			// console.log(id); // 일치 확인
    			
    			
    			// AJAX 요청
    			$.ajax({
    				// request
    				type:"delete",
    				url:"/patient/delete",
    				data:{"id":id},
    				
    				// response
    				success:function(data) { // Dictionary 형태
    					// Ajax의 응답은 String => JQuery의 함수가 JSON임을 알면
    					// => Dictionary 형식으로 변경
    					// "{"code" : 200, "result" : "예약 내역 삭제 성공"}"
    					if(data.code == 200) {
    						alert("예약 내역을 삭제합니다.");
    						location.href = "/patient/reserve-list-view";
    					} else if(data.code == 403) {
    						alert("로그인 후 삭제가 나으합니다.");
    						location.href + "/patient/sign-in-view"
    					} else {
    						alert(data.error_message);
    					}
    				}, 
    				errror:function(e) {
    					alert("예약 내역을 삭제하는데 실패했습니다.");
    				}
    				
    				
    			}); // AJAX 요청 종료
    			
    			
    		}); // `예약취소`버튼 종료
    		
        	
    	});
    	
    </script>
</th:block>