<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<section layout:fragment="content" class="contents d-flex justify-content-center align-content-center">

	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
	
	<div class="w-50 reserveCreate-box p-4 d-flex flex-column">
		<!-- 페이지 설명 -->
		<h2 class="text-center mb-4">예약 페이지</h2>
		
		<!-- 제목 영역 -->
		<input type="text" id="inputTitle" class="form-control mb-1" placeholder="제목을 입력하세요">
		
		<!-- 내용 영역 -->
		<textarea id="inputContent" class="form-control mb-1" placeholder="본인의 증상 및 상태를 입력해 주세요" rows="4"></textarea>

		<!-- 날짜 영역 -->
		<div class="form-group d-flex flex-column w-100 mb-4">
			<label for="visitDate">원하는 방문 날짜를 입력하세요.</label>
			<input type="datetime-local" id="visitDate" name="visitDate"
			th:value="${currentDate}"
			th:min="${minDate}"
			th:max="${maxDate}" />
			<div id="visitDateCheck" class="small text-danger">금일은 예약이 불가능합니다.</div>
		</div>
		
		<!-- 파일 선택 버튼 -->
		<div class="d-flex mb-4">
			<input type="file" id="file" accept=".jpg, .png, .gif">
		</div>
		
		<!-- 결제버튼 -->
		<div class="d-flex mb-4">
			<button type="button" 
			class="btn btn-secondary" 
			id="reservePay" 
			th:data-imp-key="${impKey}"
			th:data-uuid-value="${uuid4}">
			예약금 결제</button>
		</div>
		
		
		<div class="d-flex w-100 justify-content-around">
			<a id="cancelReserveBtn" href="javascript:history.back()" class="btn btn-warning w-45 text-white">취소하기</a>
			<a id="confirmReserveBtn" href="/patient/reserving" class="btn btn-warning w-45 text-white disabled" aria-disabled="true">예약 하기</a>
		</div>
		
		<input type="hidden" id="doctorId" th:value="${doctorId}">
		<input type="hidden" id="patientName" th:value="${patientInfo.name}">
		<input type="hidden" id="patientEmail" th:value="${patientInfo.email}">
		<input type="hidden" id="patientLoginId" th:value="${patientInfo.customerId}">
		<input type="hidden" id="patientId" th:value="${patientInfo.id}">
		
	</div>
	
</section>

<th:block layout:fragment="script">
    <script>
    	$(document).ready(function() {
    		let isPaymentCompleted = false; // 결제 완료 상태를 저장하는 변수
    		
    		// 예약금 결제 버튼
    		$("#reservePay").on("click",function() {
    			// alert("예약금");
    			
    			// let impKey = $("#reservePay").data("imp-key");
    	        // console.log(impKey);
    	        
    	        let patientName = $("#patientName").val().trim();
    	        let patientEmail = $("#patientEmail").val().trim();
    	        let patientLoginId = $("#patientLoginId").val().trim();
    	        let uuid4 = $("#reservePay").data("uuid-value")
    	        // console.log(uuid4);
    			let doctorNum = $("#doctorId").val().trim();
    			let customerId = $("#patientId").val().trim();
    			
    			// console.log("patientName:", patientName);
    			// console.log("patientEmail:", patientEmail);
    			// console.log("patientLoginId:", patientLoginId);
    			// console.log("customerId:", customerId);
    	        
    			// 결제 API
    	        const IMP = window.IMP; 
    			IMP.init($("#reservePay").data("imp-key"));
    			IMP.request_pay({
    				pg:"html5_inicis",
    				pay_method: "card",
    				channelKey: "{channel-key-5de6f000-7349-4d54-b32b-cac4fd50eee8}",
    				name: "예약금", // 결제 이름
    				amount: 100, // 금액
    				merchant_uid: uuid4, // merchant_uid(가맹점 고유 주문번호)
    				buyer_name: patientName,
    				buyer_email: patientEmail, //
    				buyer_postcode: patientLoginId,
    			},
    			function (rsp) {
    			    // 결제 종료 시 호출되는 콜백 함수
    			    // response.imp_uid 값으로 결제 단건조회 API를 호출하여 결제 결과를 확인하고,
    			    // 결제 결과를 처리하는 로직을 작성합니다.
    			    
    			    // console.log(rsp);
    			    // console.log(rsp.imp_uid);
    			    
    			    // rsp에서 변수를 지정 후 AJAX에 사용하는 것도 방법
    			    // let buyer_name = patientName;
    			    // let buyer_email = patientEmail;
    			    if(rsp.success) { // 결제 성공 시 AJAX 요청
    			    	// AJAX 요청으로 DB에 결제 데이터 INSERT
        			    $.ajax({
        			    	// request
        			    	type:"POST",
        			    	url:"/patient/reserve-payment",
        			    	data:{"doctorNum":doctorNum, "customerId":customerId, "amount":100, 
        			    		"merchantUid":uuid4, "impUid":rsp.imp_uid, "customerName":patientName, 
        			    		"customerEmail":patientEmail, "customerPostcode":patientLoginId},
        			    	
        			    	// response
        			    	success:function(data) {
        			    		if(data.code == 200) { // Dictionary 형태
            						// Ajax의 응답은 String => JQuery의 함수가 JSON임을 알면
            						// => Dictionary 형식으로 변경
            						// "{"code" : 200, "result" : "결제 내역 저장 성공"}"
        			    			alert("결제 내역 저장 성공");
        			    			isPaymentCompleted = true; // 결제 완료 상태 업데이트
                                    $("#confirmReserveBtn").removeClass("disabled").removeAttr("aria-disabled");
        			    		} else {
        			    			alert(data.error_message);
        			    		}
        			    	},
        			    	error:function(e) {
            					alert("결제 내역을 DB에 저장하는데 실패했습니다.");
            				}
        			    	
        			    }); // AJAX 요청 종료
    			    } else {
    			    	alert(`결제에 실패했습니다. : ${rsp.error_msg}`);
    			    }
    			  }); // 결제 API 종료


    		}); // 예약금 결제 버튼 종료
    		
    		// 예약하기 버튼
    		$("#confirmReserveBtn").on("click", function(e) {
    			
    			e.preventDefault(); // submit 중단(페이지 이동 차단)
    			
    			// alert("예약하기버튼");
    	        if (!isPaymentCompleted) {
    	            alert("결제를 완료해야 예약이 가능합니다.");
    	            e.preventDefault(); // 버튼 클릭 시 페이지 이동 차단
    	        } else {
    	        	// validation(parameter)
        			let title = $("#inputTitle").val().trim();
        			let description = $("#inputContent").val().trim();
        			let visitDate = $("#visitDate").val().trim();
        			let fileName = $("#file").val().trim();
        			// 의사 아이디 `doctorNum` 추가
        			let doctorNum = $("#doctorId").val().trim();

        			// console.log(imagePath);
        			// C:\fakepath\teddy-8783348_1280.jpg
        			
        			
        			// 공백 처리
        			if(!title) {
        				alert("제목을 입력해주세요.");
        				return;
        			}
        			if(!description) {
        				alert("상태와 증상을 입력해주세요.");
        				return;
        			}
                    // visitDate가 오늘 날짜면 경고
                    // 1. 오늘 날짜 추출
                    let today = new Date().toISOString().slice(0, 10);  // "yyyy-mm-dd" 형식으로 변환
                    // 2. visitDate에서 `날짜`만 추출
                    let visitDateOnly = visitDate.split("T")[0];  // "yyyy-mm-dd" 형식으로 추출
                    // console.log("visitDateOnly : ", visitDateOnly);
                    // console.log("today : ", today);
                    // 3. 경고문구 출력
                    
                    if (visitDateOnly == today) {
                        alert("내원 날짜를 선택해주세요. 금일은 예약이 불가합니다.");
                        return;
                    }
        			
        			
                    // 파일명이 있으면 확장자 체크
        			if(fileName) {
        				// alert("파일이 있다.");
        				// C:\fakepath\teddy-8783348_1280.jpg
        				
        				// 확장자 추출
        				let extension = fileName.split(".").pop().toLowerCase();
        				// console.log(extension);
        				
        				// 이미지 형시이 아닌 파일 선택 시 alert 띄운 후 파일 drop
        				if($.inArray(extension, ["jpg", "png", "gif"]) == -1) {
        					alert("이미지 파일만 업로드 할 수 있습니다.");
        					$("#file").val(""); // 파일 초기화
        					return;
        				}
        			} // 파일 확장자 완료
        			
        			
        			// 이미지 저장(이미지는 form 태그 필수 => JS에서 구현 가능)
        			// form을 JS에서 생성 후 AJAX에서 구현 가능
        			// form 태그 3종 세트 : form 태그(method), name 속성(parameter), submit 타입(parameter 전송)
        			let formData = new FormData(); // form 데이터 생성
        			
        			// 의사 고유 번호 데이터 삽입
        			formData.append("doctorNum", doctorNum);
        			// 제목 데이터 삽입
        			formData.append("title", title ); // requestParameter 이름 + form 태그의 name
        			// 내용 데이터 삽입
        			formData.append("description", description);
        			// 날짜 데이터 삽입
        			formData.append("visitDate", visitDate);
        			// 이미지 데이터 삽입
        			formData.append("file", $("#file")[0].files[0]); // 다중 파일의 경우 배열 처리 후 진행
        			
        			/* formData.forEach((value, key) => {
        			    console.log(`${key} : ${value}`);
        			}); */
        			
        			
        			// AJAX 요청
        			// formData 사용
        			$.ajax({
        				// request
        				type:"POST", // 용량이 큰 text, img 파일
        				url:"/patient/reserving",
        				data:formData, // json, key-value, formData
        				processData:false, // 파일 업로드 필수 설정(form)
        				contentType:false, // 파일 업로드 필수 설정(form)
        				enctype:"multipart/form-data", // 파일 업로드 필수 설정(form) - 이미지 인코딩
        				
        				// response
        				success:function(data) {
        					// 성공일 때 alert 후 예약 목록 화면으로 이동
        					if (data.code == 200) { // Dictionary 형태
        						// Ajax의 응답은 String => JQuery의 함수가 JSON임을 알면
        						// => Dictionary 형식으로 변경
        						// "{"code" : 200, "result" : "예약 신청 성공"}"
        						alert("예약 신청이 완료되었습니다. 잠시만 기다려주세요.");
        						location.href = "/patient/reserve-list-view";
        					} else {
        						alert(data.error_message);
        					}
        				}, // 성공일 경우
        				error:function(e) {
        					alert("원하시는 날짜에 예약을 실패했습니다.");
        					throw e;
        				}
        				
        			}); // AJAX 요청 종료
    	        }
    			
    			
    			
    			
    		}); // 예약하기 버튼 종료
    		
    	});
    	
    </script>
</th:block>