<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<section layout:fragment="content" class="contents d-flex justify-content-center align-content-center">
	
	<div class="w-75 reserveList-box p-4 d-flex flex-column">
		<!-- 페이지 설명 -->
		<h2 class="text-center mb-4">예약 목록</h2>
		
		<!-- 예약 목록 영역 -->
		<table class="table">
			<thead>
				<tr>
					<th>진료과목</th>
					<th>제목</th>
					<th>내용</th>
					<th>방문날짜</th>
					<th>신청날짜</th>
					<th>예약상태</th>
				</tr>
			</thead>
			
			<tbody>
				<tr  th:each="reserves : ${reserveList}">
					<!-- [[${reserves}]] -->
					<td><a th:href="@{reserve-detail-view(id=${reserves.id})}" id="reserveDepart" th:text="${reserves.doctorNum}">진료과목</a></td>
					<td><a th:href="@{rerve-detail-view(id=${reserves.id})}" id="reserveTitle" th:text="${reserves.title}">제목</a></td>
					<td th:text="${reserves.description}" class="truncate-text">내용</td>
					<td th:text="${reserves.visitDate}">방문날짜</td>
					<td th:text="${reserves.updatedAt}">신청날짜</td>
					<td th:text="${reserves.status}">예약상태</td>
				</tr>
			</tbody>
		</table>
		
		
		<!-- 예약 목록이 없을 때 표시할 메시지 추가 -->
		<p th:if="${reserveList.isEmpty()}">예약 목록이 없습니다.</p>
		
		<!-- 
		페이징 
		url 변동 없이 데이터만 변환 하도록 설계(Thymeleaf 문법 사용)
		-->
		<div class="text-center">
			<a th:if="${currentPage > 0}" 
			th:href="|/patient/reserve-list-view?page=${currentPage - 1}&size=3|"
			class="mr-5">&lt;&lt; 이전 목록</a>
			
			<a th:if="${currentPage < totalPages - 1}"
			th:href="|/patient/reserve-list-view?page=${currentPage + 1}&size=3|"
			class="ml-5">다음 목록 &gt;&gt;</a>
		</div>
		
	</div>
	
</section>

<th:block layout:fragment="script">
    <script>
    </script>
</th:block>