<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.backend.doctor.mapper.DoctorsVacationsMapper">

	<!-- @PostMapping("/calendar-plan-insert") -->
	<insert id="insertDoctorsVacations" parameterType="map">
		INSERT INTO `vacations`
		(
			`doctorNum`,
			`title`,
			`vacationStart`,
			`vacationEnd`,
			`createdAt`,
			`updatedAt`
		)
		VALUES
		(
			#{doctorNum},
			#{title},
			#{vacationStart},
			#{vacationEnd},
			NOW(),
			NOW()
		)
	</insert>
	
	
	<!-- @PostMapping("/calendar-plan-view") -->
	<select id="selectDoctorVacationsByDoctorNum" resultType="map">
		SELECT
			`id`,
			`doctorNum`,
			`title`,
			`vacationStart`,
			`vacationEnd`
		FROM
			`vacations`
		WHERE
			`doctorNum` = #{doctorNum}
	</select>
	
	
	<!-- @PostMapping("/calendar-plan-update") -->
	<update id="updateDoctorsVacations" parameterType="map">
		UPDATE 
			`vacations`
		SET 
			`title` = #{title},
			`vacationStart` = #{vacationStart},
			`vacationEnd` = #{vacationEnd},
			`updatedAt` = NOW()
		WHERE 
			`id` = #{id} AND
			`doctorNum` = #{doctorNum}
	</update>
	
	
	<!-- @PostMapping("/calendar-plan-delete") -->
	<delete id="deleteDoctorsVacations" parameterType="map">
		DELETE FROM
			`vacations`
		WHERE
			`id` = #{id} AND
			`doctorNum` = #{doctorNum}
	</delete>

</mapper>