<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.backend.doctor.mapper.DoctorsMapper">
	
	<!-- @GetMapping("/is-duplicate-id") -->
	<select id="selectDoctorsByDoctorId" resultType="map">
		SELECT
			`id`,
			`doctorId`,
			`password`,
			`name`,
			`birthDate`,
			`email`,
			`department`
		FROM
			`doctors`
		WHERE
			`doctorId` = #{doctorId}
	</select>
	
	
	<!-- @PostMapping("/sign-up") -->
	<insert id="insertDoctorsSignUp" parameterType="map">
		INSERT INTO `doctors`
		(
			`doctorId`,
			`password`,
			`name`,
			`birthDate`,
			`email`,
			`department`,
			`createdAt`,
			`updatedAt`
		)
		VALUES
		(
			#{doctorId},
			#{combinedPassword},
			#{name},
			#{birthDate},
			#{email},
			#{department},
			NOW(),
			NOW()
		)
	</insert>
	
	
	<!-- @PostMapping("/sign-in") -->
	<select id="selectDoctorsByDoctorIdAndPassword" resultType="map">
		SELECT
			`id`,
			`doctorId`,
			`password`,
			`name`,
			`birthDate`,
			`email`,
			`department`
		FROM
			`doctors`
		WHERE
			`doctorId` = #{doctorId} AND
			`password` = #{password}
	</select>
	
	
	<!-- @GetMapping("") : localhost/hospital -->
	<select id="selectDoctorsByDepartment" resultType="com.backend.doctor.domain.Doctors">
		SELECT * 
		FROM 
			`doctors`
		WHERE
			`department` = #{department}
		ORDER BY
    		`id` ASC
	</select>
	
	
	<!-- @GetMapping("/{id}/doctor-reserve-view") : localhost//{doctors.id}/doctor-reserve-view -->
	<select id="selectDoctorsById" resultType="com.backend.doctor.domain.Doctors">
		SELECT * 
		FROM 
			`doctors`
		WHERE
			`id` = #{id}
	</select>
	
</mapper>