<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.backend.doctor.mapper.PatientReserversMapper">
	
	<update id="updateReserversByIdCustomerIdDoctorId" parameterType="map">
		UPDATE `reservers`
		SET `status` = #{status},
			`updatedAt` = NOW()
		WHERE 
			`id` = #{id} AND
			`customerId` = #{customerId} AND
			`doctorNum` = #{doctorId}
	</update>
	
</mapper>