<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

	<th:block th:fragment="footerFragment">
        <!-- Footer -->
        <footer class="text-white text-center py-3">
            <div class="small">병원 주소 : 서울특별시 어딘가</div>
            <div class="small">대표자 : 홍길동</div>
            <div class="small">Copyright XXXX, XXXX</div>
            
            <a th:if="${session.doctorName == null}" id="doctSignUpBtn" 
            class="btn btn-link text-white" href="/doctor/sign-up-view">직원 회원가입</a>
            
            <a th:if="${session.doctorName == null}" id="doctSignInBtn" 
            class="btn btn-link text-white" href="/doctor/sign-in-view">직원 로그인</a>
            
            <a th:unless="${session.doctorName == null}" id="doctSignOutBtn" 
            class="btn btn-link text-white" href="/doctor/sign-out>직원 로그아웃</a>
        </footer>
	</th:block>

</html>