<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

	<th:block th:fragment="headerFragment">
        <!-- Header -->
        <header class="d-flex justify-content-between align-items-center bg-primary text-white p-3">
            <a id="signupBtn" class="btn btn-link text-white" href="/patient/sign-up-view">회원가입</a>
            <a id="mainBtn" class="btn btn-link text-white" href="/hospital">VIP 병동</a>
            <a id="loginBtn" class="btn btn-link text-white" href="/patient/sign-in-view">로그인</a>
            <a id="logoutBtn" class="btn btn-link text-white d-none">로그아웃</a>
        </header>
	</th:block>

	<!-- TODO : 해당 영역에 로그인/로그아웃 여부에 따라 JS문, AJAX문을 추가할 수 있는지 확인할것 -->
</html>