<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<section layout:fragment="content" class="contents d-flex justify-content-center align-content-center">
	
	<div class="w-50 doctorInfoReserve-box p-4 d-flex flex-column align-items-center">
		<!-- 페이지 설명 -->
		<h2 class="text-center mb-4">의사 정보 및 예약하기</h2>
		
        <!-- 의사 프로필 영역 -->
        <div class="d-flex flex-column align-items-center mb-4">
            <img src="/img/doctor1.jpg" alt="의사 대표 이미지" class="mb-3" width="250">
            <p class="text-center fw-bold mb-1">XXX 과장</p>
            <p class="text-center text-muted mb-0">XXX대학 XXX학과 졸업</p>
            <p class="text-center text-muted">XXX대학 XXX학과 교수</p>
        </div>
		
        <!-- 예약하기 버튼 -->
        <div class="text-center w-75">
        	<!-- href = "/patient/{doctors.id}/reserve-view" -->
            <a id="reservingBtn" class="btn btn-warning text-white px-4 py-2 w-100" href="#">예약하기</a>
        </div>
        
	</div>
	
</section>

<th:block layout:fragment="script">
    <script>
    </script>
</th:block>