<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<section layout:fragment="content" class="contentsd-flex justify-content-center">

	<!-- section 영역 -->
	<section class="contents d-flex">
	    <!-- 좌측 메뉴 바 -->
	    <!-- 
	    리스트(list) 메뉴 3종 세트 : ul, li, a 태그
	    리스트(list) 메뉴 클래스 4종 세트 : {nav, nav-fill(선택)} {nav-item}, {nav-link} (가로메뉴)
	     -->
	    <div class="bg-warning col-2 p-0">
	        <div class="list-unstyled w-100 h-100 d-flex flex-column justify-content-around">
	            <!-- 진료과목 텍스트 -->
	            <div><div class="text-center bg-light py-2 fw-bold">진료과목</div></div>
	            
	            <!-- 성형외과 버튼, 클릭 시 의사 목록 펼쳐짐 -->
	            <div>
	                <a href="#cosmeticDoctorList" class="btn btn-block btn-light" data-bs-toggle="collapse" aria-expanded="false" aria-controls="cosmeticDoctorList">성형외과</a>
	                <div th:each="cosmeticDdoctor : ${cosmeticDoctors}" id="cosmeticDoctorList" class="collapse">
	                	<!-- session이 아닌 Model에 데이터를 저장해서 진행 -->
                        <a th:href="@{'/hospital/' + ${cosmeticDdoctor.id} + '/doctor-reserve-view'}"  class="btn btn-secondary w-100 my-2" th:text="${cosmeticDdoctor.name}">의사 1</a>
	                </div>
	            </div>
	            
	            <!-- 정형외과 버튼, 클릭 시 의사 목록 펼쳐짐 -->
	            <div>
	                <a href="#orthopedicDoctorList" class="btn btn-block btn-light" data-bs-toggle="collapse" aria-expanded="false" aria-controls="orthopedicDoctorList">정형외과</a>
	                <div th:each="orthopedicDoctor : ${orthopedicDoctors}" id="orthopedicDoctorList" class="collapse">
	                	<!-- session이 아닌 Model에 데이터를 저장해서 진행 -->
                        <a th:href="@{'/hospital/' + ${orthopedicDoctor.id} + '/doctor-reserve-view'}"  class="btn btn-secondary w-100 my-2" th:text="${orthopedicDoctor.name}">의사 1</a>
	                </div>
	            </div>
	            
	            <!-- 내과 버튼, 클릭 시 의사 목록 펼쳐짐 -->
	            <div>
	                <a href="#internalDoctorList" class="btn btn-block btn-light" data-bs-toggle="collapse" aria-expanded="false" aria-controls="internalDoctorList">내과</a>
	                <div th:each="internalDoctor : ${internalDoctors}" id="internalDoctorList" class="collapse">
	                	<!-- session이 아닌 Model에 데이터를 저장해서 진행 -->
                        <a th:href="@{'/hospital/' + ${internalDoctor.id} + '/doctor-reserve-view'}"  class="btn btn-secondary w-100 my-2" th:text="${internalDoctor.name}">의사 1</a>
	                </div>
	            </div>
	            
	            <div><a href="#" class="btn btn-block btn-light">예약내역</a></div>
	        </div>
	    </div>
	
	    <!-- 병원 이미지 -->
	    <div class="flex-grow-1 d-flex justify-content-center align-items-center">
	        <img src="/img/medical-1617364_1280.jpg" alt="병원 메인 이미지" class="main-img" width="450">
	    </div>
	</section>
	
</section>

<th:block layout:fragment="script">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js">
	</script>
</th:block>