<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<section layout:fragment="content" class="contents d-flex justify-content-center align-content-center">
	
	<div class="w-75 patientStatus-box p-4 d-flex flex-column bg-light">
		<!-- 페이지 설명 -->
		<h2 class="text-center mb-4">일정표</h2>
		
		
    <!-- Modal -->
    <div class="modal hidden" id="scheduleModal">
      <div class="modal-dialog" >
        <div class="modal-content">
        
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">일정 추가하기</h5>
	        <button type="button" class="btn" data-dismiss="modal">
	          <span>X</span>
	        </button>
          </div> <!-- modal-header 종료 -->
          
          <div class="modal-body">
            일정이름 : <input type="text" id="scheduleTitle" class="my-1"/><br/>
            시작날짜 : <input type="date" class="form-control my-1" id="vacationStart"
			th:value="${minDate}" th:min="${minDate}" th:max="${maxDate}"
			th:data-default-value="${minDate}" />
            종료날짜 : <input type="date" class="form-control my-1" id="vacationEnd"
			th:value="${minDate}" th:min="${minDate}" th:max="${maxDate}"
			th:data-default-value="${minDate}" /><br/>
          </div> <!-- modal-body 종료 -->
          
          <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">
	          취소
	        </button>
            <button type="button" class="btn btn-primary" id="saveSchedule">
              저장
            </button>
          </div> <!-- modal-footer 종료 -->
          
        </div> <!-- modal-content 종료 -->
      </div> <!-- modal-dialog 종료 -->
    </div>
    
    
    <!-- 일정 수정용 Modal -->
         <div class="modal hidden" id="scheduleUpdateModal">
            <div class="modal-dialog">
                <div class="modal-content">
                
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">일정 수정하기</h5>
                        <button type="button" class="btn" data-dismiss="modal">
                            <span>X</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">
                        일정이름 : <input type="text" id="scheduleUpdateTitle" class="my-1"/><br/>
                        시작날짜 : <input type="date" class="form-control my-1" id="vacationUpdateStart"
                        th:min="${minDate}" th:max="${maxDate}"
                        th:data-default-value="${minDate}" />
                        종료날짜 : <input type="date" class="form-control my-1" id="vacationUpdateEnd"
                        th:max="${maxDate}"/><br/>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            취소
                        </button>
                        <button type="button" class="btn btn-primary" id="saveUpdatedSchedule">
                            수정 저장
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
    
		<!-- FullCalendar를 사용하기 위한
		JS의 FullCalendar Individual Plugins -->
	    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.15/index.global.min.js'></script>
	    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.15/index.global.min.js'></script>


	    <!-- FullCalendar 화면에 불러오기 -->
	    <div class="">
			<div id='calendar'></div>
	    </div>
		
	</div>
	
</section>

<th:block layout:fragment="script">
    <script>

		var calendar;
    	$(document).ready(function() {
    		
	    		var calendarEl = document.getElementById('calendar');
	    		var today = new Date(); // 오늘 날짜 추출
	    		var todayFormatted = today.toISOString().split('T')[0]; // 'yyyy-MM-dd' 형식으로 포맷팅
	    		var calendar = new FullCalendar.Calendar(calendarEl, {
	    			initialView: 'dayGridMonth', // 기본 설정 : 한 달
	    			locale: 'ko', // 한국어 설정
	    			initialDate: today, // 달력의 시작 날짜 설정(시작 날짜를 오늘로 설정)
	    			// 이벤트 데이터 (달력에 표시할 일정들)
	    			events: function(info, successCallback, failureCallback) {
	    			    // 서버로 데이터 요청
	    			    $.ajax({
	    			        url: '/doctor/calendar-plan-show', // 이벤트 데이터를 가져오는 컨트롤러 URL
	    			        type: 'POST', // HTTP 메서드
	    			        dataType: 'json', // 응답 데이터 형식(json, key-value, formData)
	    			        success: function(response) {
	    			            // 서버 응답 데이터를 FullCalendar 형식으로 변환
	    			            var events = response.map(function(event) {
	    			                return {
	    			                	id: event.id, // 일정 id
	    			                    title: event.title, // 일정 제목
	    			                    start: event.start, // 시작 날짜 (response에서 start로 전달)
	    			                    end: event.end, // 종료 날짜
	    			                };
	    			            });
	    			            successCallback(events); // 변환된 데이터를 FullCalendar에 전달
	    			        },
	    			        error: function() {
	    			            alert("일정을 가져오는데 실패했습니다."); // 에러 발생 시 사용자에게 알림
	    			            failureCallback(); // FullCalendar에 실패 처리
	    			        }
	    			    });
	    			}, // 서버로 데이터 요청 종료
	    			customButtons: {
	    				myCustonButton: {
		    				text:"개인일정추가",
    				      click: function() {
    				    	// bootstrap Modal 활성화
    				        $("#scheduleModal").modal("show");
    				      }
    				    },
    				  },
	    			eventOrder: 'sortIdx', // 이벤트 정렬 방식 (sortIdx 값을 기준으로 정렬)
	    			headerToolbar: { // 달력 상단의 버튼과 툴바 설정
	    				left: 'prev next today myCustonButton',
		            	center: '',
		            	right: 'dayGridDay,dayGridWeek,dayGridMonth' // 보기 전환 버튼
	    			},
	    			buttonText: { // 버튼의 텍스트 설정
	    				today: `금일 : ${todayFormatted}`,
	    				dayGridDay: '하루 단위', // 하루 보기
	    				dayGridWeek: '일주일 단위', // 일주일 보기
	    				dayGridMonth: '한 달 단위' // 한 달 보기
	    			},
	                
	                eventClick: function(info) { // 수정할 일정(event)를 클릭
	                    // 클릭된 이벤트 정보를 수정 모달에 표시

	                    $("#scheduleUpdateTitle").val(info.event.title); // 일정 제목을 modal에 표시
	                    $("#vacationUpdateStart").val(info.event.startStr.substring(0, 10)); // 시작 날짜를 modal에 표시
	                    if (info.event.end) {
	                        $("#vacationUpdateEnd").val(info.event.endStr.substring(0, 10)); // 종료 날짜
	                    } else {
	                    	// 종료 날짜가 없으면 시작 날짜로 설정(시작/종료 날짜가 동일)
	                    	// 시작/종료 날짜가 동일할 경우에만 종료 날짜를 가져오지 못해서 내린 판단
	                        $("#vacationUpdateEnd").val(info.event.startStr.substring(0, 10));
	                    }
	                    
	                    // 클릭된 이벤트 ID를 hidden 필드로 설정
	                    $("#scheduleUpdateModal").data('event-id', info.event.id); // 이벤트 ID를 modal에 저장
	                    
	                    // 수정 모달 표시
	                    $("#scheduleUpdateModal").modal("show");
	                    
	                    
	                    // `수정 저장` 버튼 
	                    $("#saveUpdatedSchedule").on("click", function(e) {
	                    	e.preventDefault();
	                    	// alert("수정저장");
	                    	
	                    	
			                let title = $("#scheduleUpdateTitle").val().trim(); // 수정할 일정 제목
			                let vacationStart = $("#vacationUpdateStart").val().trim(); // 수정할 일정 시작 날짜
			                let vacationEnd = $("#vacationUpdateEnd").val().trim(); // 수정할 일정 종료 날짜
			                let vacationsId = $("#scheduleUpdateModal").data('event-id');  // 수정할 일정 ID
			                
			                // console.log(title);
			                // console.log(vacationStart);
			                // console.log(vacationEnd);
			                // console.log(eventId);
			                
			                if(!title) {
			                	alert("일정 제목을 확인하세요.");
			                	return;
			                }
			                if(!vacationStart || !vacationEnd || vacationStart > vacationEnd) {
			                	alert("수정할 일정의 날짜를 확인하세요.");
			                	return;
			                }
			                
			                
			                // AJAX 요청
			                $.ajax({
			                	// request
			                	type:"POST",
			                	url:"doctor/calendar-plan-update",
			                	data:{"vacationsId":vacationsId, "title":title,
			                		"vacationStart":vacationStart, "vacationEnd":vacationEnd},
			                	
			                	// response
			                	success:function(data) {
			                		if(data.code == 200) {// Response(응답값) - breakpoint
			    		    			// Dictionary 형태
			    		    			// Ajax의 응답은 String => JQuery의 함수가 JSON임을 알면
			    		    			// => Dictionary 형식으로 변경
			    		    			// "{"code" : 200, "result" : "일정 변경 성공"}"
			    		    			alert("일정 변경 성공");
			    		    		    location.reload(true);
			                		} else if(data.code == 403) {
			                			location.href = "/doctor/sign-in-view";
			                		}
			                	},
			                	error:function(e) {
			    					alert("일정 변경에 실패했습니다.");
			    				}
			                	
			                }); // AJAX 요청 종료
	                    	
	                    	
	                    }); // `수정 저장` 버튼 종료
	                    
	                },
	                
	    			eventDidMount: function(info) { // 이벤트가 화면에 표시될 때 추가 작업 정의
	    				// 이벤트 날짜 가져오기
	    				var eventDate = new Date(info.event.start); // 이벤트 시작 날짜
	    				eventDate.setHours(0, 0, 0, 0); // 시간을 00:00:00으로 초기화하여 날짜 비교
	    				if (eventDate < today) { // 오늘 이전 날짜인지 확인
	                        info.el.classList.add('bg-danger'); // 오늘 이전 날짜의 이벤트 배경 색상 변경
	    				} else if (eventDate > today) {
	    					info.el.classList.add('bg-info'); // 오늘 이후 날짜의 이벤트 배경 색상 변경
	    				} else {
	    					info.el.classList.add('bg-success'); // 금일 날짜의 이벤트 배경 색상 변경
	    				}
	    			}
		        });
	        calendar.render(); // 설정한 달력을 화면에 렌더링(구현)
    		
    		// Schedule 저장 버튼
    		$("#saveSchedule").on("click", function(e) {
    			e.preventDefault();
    			// alert("저장버튼");
    			
    			
    			// valication(FullCalender용 parameter 추출)
    			let title = $("#scheduleTitle").val().trim();
    			let vacationStart = $("#vacationStart").val().trim();
    			let vacationEnd = $("#vacationEnd").val().trim();
    			
    			// console.log(scheduleColor);
    			
    			// 공백 처리
    			if (title == "") {
    				alert("일정 제목을 입력하세요.");
    				return;
    			}
    			if (!vacationStart) {
    				alert("일정 시작 날짜를 입력하세요.");
    				return;
    			}
    			if (!vacationEnd) {
    				alert("일정 종료 날짜를 입력하세요");
    				return;
    			}
    			if(vacationStart > vacationEnd) {
    				alert("입력한 일정 날짜를 확인하세요.");
    				return;
    			}
    		    
     		    // AJAX 요청
    		    $.ajax({
    		    	// request
    		    	type:"POST",
    		    	url:"/doctor/calendar-plan-insert",
    		    	data:{"title":title, "vacationStart":vacationStart, "vacationEnd":vacationEnd},
    		    	
    		    	//response
    		    	success:function(data) {
    		    		if(data.code == 200) { // Response(응답값) - breakpoint
    		    			// Dictionary 형태
    		    			// Ajax의 응답은 String => JQuery의 함수가 JSON임을 알면
    		    			// => Dictionary 형식으로 변경
    		    			// "{"code" : 200, "result" : "일정 신청 성공"}"    			
			    		    
    		    			// FullCalendar에 이벤트 추가
			    		    calendar.addEvent({
			    		        title: title,
			    		        start: vacationStart,
			    		        end: vacationEnd,
			    		    });
    		    			
			    		    alert("일정이 추가되었습니다.");
    		    		    location.reload(true);
    		    		} else {
    		    			alert(data.error_message);
    		    		}
    		    	}, // 성공일 경우
    				error:function(e) {
    					alert("일정 신청에 실패했습니다.");
    				}
    		    	
    		    }); // AJAX 요청 종료
    			
    		    
    		    // 모달 닫기
    		    $("#scheduleModal").modal("hide");
    		    // 제목 영역 초기화
    		    $("#scheduleTitle").val("");
    		    // 날짜 영역 초기화
				$("#vacationStart").val($("#vacationStart").data("default-value"));
				$("#vacationEnd").val($("#vacationEnd").data("default-value"));
				
				
    		}); // Schedule 저장 버튼 종료

    	});
    	
    </script>
</th:block>